body {
    background-color: #FFFAFA;}
@media screen and (min-width: 1024px){
.navbar{
     display: none;
 } 

 .blue-text, h1 {
    color:#233D82;
    font-size: 300%;
} 
.red-text, h2 {
    color:#d7282b;
    font-size: 300%;
}
}  
@media screen and (max-width: 1024px){
    .menu{
         display: none;
  } 
  .blue-text, h1 {
    color:#233D82;
    font-size: 200%;
} 
.red-text, h2 {
    color:#d7282b;
    font-size: 200%;
}
 } 
 h4{
  
    color:#233D82;
    font-size: 170%;
 }
.menu-list{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 2REM;
}

.fuego, img{
  width: 80%;
}
.red-text, h3 {
    color:#d7282b;
    font-size: 200%;
}
.menu-list a:hover {
    color: #960018;
    background-color: #FFFFFF;
}

.vimeo{
    padding: 4em;
}
.columns{
    padding-right: 3%;
}
.tile{
    align-content: center;
}

.modal-content {
    width: calc(100% - 200px);
}
